body, div, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, p, pre, table, caption, th, td, form, input, button, select, textarea {
	margin: 0;
	padding: 0;
	font-style: normal;
	font: 12px/22px "微软雅黑", Arial, Helvetica, sans-serif;
}
ol, ul, li {
	list-style: none;
}

img {
	border: 0;
	vertical-align: middle;
}

body {
	color: #000;
	background: #FFF;
	text-align: center;
}

.clear {
	clear: both;
	height: 1px;
	width: 100%;
	overflow: hidden;
	margin-top: -1px;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #BA2636;
	text-decoration: underline;
}
*:focus {
	outline: none;
}

button {
	background-color: white;
}
.tips {
	color: red;
	font-size: 10px;
	display: none;
	text-align: center;
	width: 80%;
	margin: auto;
}

.button {
	position: relative;
	padding: 5px 10px;
	height: 40px;
	font-family: "微软雅黑";
	font-size: 16px;
	border: none;
	background-repeat: no-repeat;
	background-size: 100% 40px;
}
.button.shortbtn {
	margin: 10px 5%;
	width: 100px;
	background-color: white;
	background-image: url(../png/button3.png);
}

.button.shortbtn:active {
	background-image: url(../png/button4.png);
	color: #444444;
}

.button.midbtn {
	margin: 10px 5%;
	width: 30%;
	background-color: white;
	background-image: url(../png/button3.png);
}

.button.midbtn:active {
	background-image: url(../png/button4.png);
	color: #444444;
}

.button.longbtn {
	margin: 10px auto;
	width: 65%;
	background-color: white;
	background-image: url(../png/button1.png);
}
.button.longbtn:active {
	background-image: url(../png/button.png);
	color: #ffffff;
}

/* jQuery Mobile theme*/
.ui-header .ui-title {
	font-weight: lighter;
	font-size: 1.2em;
	text-shadow: 0 0px 0 #f3f3f3;
}
.ui-bar-f {
	color: white;
	background: url(../png/title.png) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
.ui-body-f {
	font-weight: bold;
	color: purple;
}

.ui-btn-f{
	margin: 10px 5%;
	width: 30%;
	background-color: white;
	background-image: url(../png/button3.png);
}

.ui-btn-f:active{
	background-image: url(../png/button4.png);
	color: #444444;
}

.ui-block-a, 
.ui-block-b, 
.ui-block-c 
{
font-weight: bold;
text-align: center;
}